<nav class="navbar">
  <div class="navbar-title">
    <h2>Tareas</h2>
  </div>
  <div class="navbar-container">
    <form [formGroup]="list_form">
      <div class="navbar-buttons">
        <div class="dynamic-buttons">
          
          <input *ngFor="let list of lists; let i = index"
                 (blur)="update_list($event.target,list.id)"
                 (click)="update_class(list.id)"
                 value={{list.name}}
                 [ngClass]="{'btn-active': is_active(list.id)}"
                 class="btn"/>
        </div>

        <button type="button" class="btn btn-add" (click)="new_list()" [disabled]="is_button_disable" >+ Nueva Lista</button>
      </div>
    </form>
    <a href="#" class="btn-delete" (click)="delete_list()">
      <img src="assets/img/eliminar.png" alt="Eliminar">
    </a>
  </div>
</nav>


